.element__like {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 0;
	width: 22px;
	height: 40px;
	margin-right: 5px;
	margin-top: 0;
	align-self: start;
	padding: 0;
}