.element__like-button {
	background-image: url(../../../images/like.svg);
	background-repeat: no-repeat;
	background-position: 50%;
	background-color: transparent;
	border: 0;
	width: 22px;
	height: 19px;
	margin-right: 5px;
	margin-top: 0;
	align-self: start;
	padding: 0;
	cursor: pointer;
}

.element__like-button:hover {
	opacity: 0.5;
}